.wrapper {
  margin-top: 20px;
  max-width: 400px;
}

.user {
  display: grid;
  justify-content: center;
  img {
    width: 200px;
  }
  h1 {
    text-align: center;
    font-family: ZillaSlab;
    line-height: 110%;
    font-size: 3em;
  }
}
.opcions {
  background-color: rgba(255, 255, 255, 0.856);
  padding: 20px 10px;
  margin: 0px 15px 30px;
  border-radius: 4px;
  min-height: 35vh;
  box-shadow: 0 1px 2px 0 rgba(73, 73, 73, 0.2),
    0 6px 20px 0 rgba(82, 82, 82, 0.19);
  p {
    font-size: 120%;
    line-height: 100%;
    text-align: center;
    margin: 10%;
  }
}

.logOut {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 10px !important;
  padding-right: 40px;
  min-width: unset !important;
}
