<div class="wrapper">
    <button (click)='openDialog()' class='logOut' color='accent' mat-flat-button>
        <mat-icon>power_settings_new</mat-icon>
    </button>
    <div class="user">
        <img src="../../../../assets/imgs/user.png" alt="">
        <h1>Bienvenido<br>{{usuario}}</h1>
    </div>
    <div class="opcions">
        <p>
            <mat-icon>home</mat-icon><br> Es tu menu principal
        </p>

        <p>
            <mat-icon>delivery_dining</mat-icon><br> Es donde puedes ver los viajes disponibles y tomarlos
        </p>

        <p>
            <mat-icon>history</mat-icon><br>Es tu historial completo de viajes
        </p>

    </div>
</div>