<div class="logo"><img src="../../../../assets/imgs/logo.png" alt=""></div>

<h1 class="title">Historial de viajes completados</h1>
<div class="container-filtro">
    <mat-form-field class="filter" appearance="standard">
        <mat-label>Busqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
</div>
<div class="cards" *ngIf="!(viajesRealizados2.length > 1)">
    <mat-card class="loading-card" *ngFor="let i of loading">
        <mat-card-title class="loading-address"></mat-card-title>
        <mat-card-subtitle class="loading-name"></mat-card-subtitle>
        <mat-card-subtitle class="loading-time"></mat-card-subtitle>
        <mat-card-content>
            <button class="arrow-btn">
                <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</div>



<div class="cards" *ngIf="viajesRealizados2.length > 1">
    <mat-card class="example-card" *ngFor="let viaje of this.dataSource.filteredData">
        <mat-card-title class="titulo">Fecha: {{viaje.fecha}}
        </mat-card-title>
        <mat-card-subtitle>Cliente: {{viaje.cliente}}</mat-card-subtitle>
        <mat-card-subtitle>Hora: {{viaje.hora}}</mat-card-subtitle>
        <mat-card-content>
            <button class="arrow-btn" (click)='expand(viaje ,viajesRealizados2)'>
                <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
            </button>
            <div class="ob">
                <p>
                    <span style="  font-weight: 500;">Direccion:</span> {{viaje.direccion}}
                </p>
                <p>
                    <span style="  font-weight: 500;"> Hora de entrega: </span>{{viaje.hora}}hs
                </p>
                <p>
                    <span style="  font-weight: 500;"> Equipo: </span>{{viaje.equipo}}
                </p>
                <p>
                    <span style="  font-weight: 500;"> Estado del viaje: </span>{{viaje.estado}}
                </p>
                <p>
                    <span style="  font-weight: 500;"> Observaciones: </span> {{viaje.observaciones}}
                </p>
            </div>
        </mat-card-content>

    </mat-card>
</div>